In [2]:
import pandas as pd

dataframe = pd.read_csv('Churn_Modelling.csv')

In [3]:
dataframe

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

## dropping rownumber, customerID and surname(first three columns) , as they do not add meaning to the data.

In [4]:
dataframe.drop(['RowNumber', 'CustomerId', 'Surname'], axis = 1, inplace=True)

In [5]:
dataframe

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
def get_unique_values(df):
    for col in df.columns:
        print(col)
        unique_val = df[col].unique()
        print(unique_val)
        print(col , 'total unique values:',len(unique_val))
        print()

In [7]:
get_unique_values(dataframe)

CreditScore
[619 608 502 699 850 645 822 376 501 684 528 497 476 549 635 616 653 587
 726 732 636 510 669 846 577 756 571 574 411 591 533 553 520 722 475 490
 804 582 472 465 556 834 660 776 829 637 550 698 585 788 655 601 656 725
 511 614 742 687 555 603 751 581 735 661 675 738 813 657 604 519 664 678
 757 416 665 777 543 506 493 652 750 729 646 647 808 524 769 730 515 773
 814 710 413 623 670 622 785 605 479 685 538 562 721 628 668 828 674 625
 432 770 758 795 686 789 589 461 584 579 663 682 793 691 485 650 754 535
 716 539 706 586 631 717 800 683 704 615 667 484 480 578 512 606 597 778
 514 525 715 580 807 521 759 516 711 618 643 671 689 620 676 572 695 592
 567 694 547 594 673 610 767 763 712 703 662 659 523 772 545 634 739 771
 681 544 696 766 727 693 557 531 498 651 791 733 811 707 714 782 775 799
 602 744 588 747 583 627 731 629 438 642 806 474 559 429 680 749 734 644
 626 649 805 718 840 630 654 762 568 613 522 737 648 443 640 540 460 593
 801 611 802 745 483 690 492 709 705 560 752 701 537 487 596 702 486 724
 548 464 790 534 748 494 590 468 509 818 816 536 753 774 621 569 658 798
 641 542 692 639 765 570 638 599 632 779 527 564 833 504 842 508 417 598
 741 607 761 848 546 439 755 760 526 713 700 666 566 495 688 612 477 427
 839 819 720 459 503 624 529 563 482 796 445 746 786 554 672 787 499 844
 450 815 838 803 736 633 600 679 517 792 743 488 421 841 708 507 505 456
 435 561 518 565 728 784 552 609 764 697 723 551 444 719 496 541 830 812
 677 420 595 617 809 500 826 434 513 478 797 363 399 463 780 452 575 837
 794 824 428 823 781 849 489 431 457 768 831 359 820 573 576 558 817 449
 440 415 821 530 350 446 425 740 481 783 358 845 451 458 469 423 404 836
 473 835 466 491 351 827 843 365 532 414 453 471 401 810 832 470 447 422
 825 430 436 426 408 847 418 437 410 454 407 455 462 386 405 383 395 467
 433 442 424 448 441 367 412 382 373 419]
CreditScore total unique values: 460

Geography
['France' 'Spain' 'Germany']
Geography total unique values: 3

Gender
['Female' 'Male']
Gender total unique values: 2

Age
[42 41 39 43 44 50 29 27 31 24 34 25 35 45 58 32 38 46 36 33 40 51 61 49
 37 19 66 56 26 21 55 75 22 30 28 65 48 52 57 73 47 54 72 20 67 79 62 53
 80 59 68 23 60 70 63 64 18 82 69 74 71 76 77 88 85 84 78 81 92 83]
Age total unique values: 70

Tenure
[ 2  1  8  7  4  6  3 10  5  9  0]
Tenure total unique values: 11

Balance
[     0.    83807.86 159660.8  ...  57369.61  75075.31 130142.79]
Balance total unique values: 6382

NumOfProducts
[1 3 2 4]
NumOfProducts total unique values: 4

HasCrCard
[1 0]
HasCrCard total unique values: 2

IsActiveMember
[1 0]
IsActiveMember total unique values: 2

EstimatedSalary
[101348.88 112542.58 113931.57 ...  42085.58  92888.52  38190.78]
EstimatedSalary total unique values: 9999

Exited
[1 0]
Exited total unique values: 2

## checking if estimatedSalary have zero entry or not ? because if estimatedSalary is zero than the respective record is invalidated.

In [8]:
def check_zero_entry_on_float_column(col):
    unique_items = dataframe[col].unique()
    print(unique_items)
    print(len(unique_items))

    check = False
    for idx , val in enumerate(unique_items):
        if val == 0.0:
            check = True
            print('There is zero entry at index as follows:')
            print(idx)
            print(val)
    if check == False:
        print('There is no Zero Entry in column :' , col)

In [9]:
check_zero_entry_on_float_column('EstimatedSalary')

[101348.88 112542.58 113931.57 ...  42085.58  92888.52  38190.78]
9999
There is no Zero Entry in column : EstimatedSalary

##  balance feature can have 0 entry , in this case it makes sense because every salary feature is filled.

In [10]:
check_zero_entry_on_float_column('Balance')

[     0.    83807.86 159660.8  ...  57369.61  75075.31 130142.79]
6382
There is zero entry at index as follows:
0
0.0

## linear scaling CreditScore , Age and Balance and estimatedSalary Column.

In [11]:
dfscaled = dataframe.copy()
columns = ['CreditScore' , 'Age' , 'Balance' , 'EstimatedSalary']
for col in columns:
    dfscaled[col] = (dfscaled[col] - dfscaled[col].min()) / (dfscaled[col].max() - dfscaled[col].min())    
    
# lineartly normalized
display(dfscaled)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0.538,France,Female,0.324324,2,0.000000,1,1,1,0.506735,1
1,0.516,Spain,Female,0.310811,1,0.334031,1,0,1,0.562709,0
2,0.304,France,Female,0.324324,8,0.636357,3,1,0,0.569654,1
3,0.698,France,Female,0.283784,1,0.000000,2,0,0,0.469120,0
4,1.000,Spain,Female,0.337838,2,0.500246,1,1,1,0.395400,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,0.842,France,Male,0.283784,5,0.000000,2,1,0,0.481341,0
9996,0.332,France,Male,0.229730,10,0.228657,1,1,1,0.508490,0
9997,0.718,France,Female,0.243243,7,0.000000,1,0,1,0.210390,1
9998,0.844,Germany,Male,0.324324,3,0.299226,2,1,0,0.464429,1
9999,0.884,France,Female,0.135135,4,0.518708,1,1,0,0.190914,0

# converting categorical values to quantitative values

### as we know there are only 3 unique values in geography column hence,
### 0 - > France , 1 - > Spain, 2 - > Germany

### as we know there are only 2 unique values in gender column hence,
### 0 - > Male  ,1 - > Female

In [12]:
for idx ,val in dfscaled.iterrows():
    if  dfscaled.loc[idx,'Gender'] == 'Male':
        dfscaled.loc[idx,'Gender'] = '0'
    elif dfscaled.loc[idx,'Gender'] == 'Female':
        dfscaled.loc[idx,'Gender'] = '1'
        
for idx ,val in dfscaled.iterrows():
    if  dfscaled.loc[idx,'Geography'] == 'France':
        dfscaled.loc[idx,'Geography'] = '0'
    elif dfscaled.loc[idx,'Geography'] == 'Spain':
        dfscaled.loc[idx,'Geography'] = '1'
    elif dfscaled.loc[idx,'Geography'] == 'Germany':
        dfscaled.loc[idx,'Geography'] = '2'

In [13]:
dfscaled

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0.538,0,1,0.324324,2,0.000000,1,1,1,0.506735,1
1,0.516,1,1,0.310811,1,0.334031,1,0,1,0.562709,0
2,0.304,0,1,0.324324,8,0.636357,3,1,0,0.569654,1
3,0.698,0,1,0.283784,1,0.000000,2,0,0,0.469120,0
4,1.000,1,1,0.337838,2,0.500246,1,1,1,0.395400,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,0.842,0,0,0.283784,5,0.000000,2,1,0,0.481341,0
9996,0.332,0,0,0.229730,10,0.228657,1,1,1,0.508490,0
9997,0.718,0,1,0.243243,7,0.000000,1,0,1,0.210390,1
9998,0.844,2,0,0.324324,3,0.299226,2,1,0,0.464429,1
9999,0.884,0,1,0.135135,4,0.518708,1,1,0,0.190914,0

## applying softmax on NumOfProducts , as it will reduce the scale to 1. 
### unique values are 1 , 2 , 3 , 4

In [14]:
import math
sum_of_exp = 0
for i in range(1,5):
    sum_of_exp =  sum_of_exp + math.exp(i)
    
print(sum_of_exp)

for idx ,val in dfscaled.iterrows():
    if  dfscaled.loc[idx,'NumOfProducts'] == 1:
        dfscaled.loc[idx,'NumOfProducts'] = (math.exp(1)/(sum_of_exp))
    elif dfscaled.loc[idx,'NumOfProducts'] == 2:
        dfscaled.loc[idx,'NumOfProducts'] = (math.exp(2)/(sum_of_exp))
    elif  dfscaled.loc[idx,'NumOfProducts'] == 3:
        dfscaled.loc[idx,'NumOfProducts'] = (math.exp(3)/(sum_of_exp))
    elif dfscaled.loc[idx,'NumOfProducts'] == 4:
        dfscaled.loc[idx,'NumOfProducts'] = (math.exp(4)/(sum_of_exp))

84.7910248837216

In [15]:
dfscaled

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0.538,0,1,0.324324,2,0.000000,0.032059,1,1,0.506735,1
1,0.516,1,1,0.310811,1,0.334031,0.032059,0,1,0.562709,0
2,0.304,0,1,0.324324,8,0.636357,0.236883,1,0,0.569654,1
3,0.698,0,1,0.283784,1,0.000000,0.087144,0,0,0.469120,0
4,1.000,1,1,0.337838,2,0.500246,0.032059,1,1,0.395400,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,0.842,0,0,0.283784,5,0.000000,0.087144,1,0,0.481341,0
9996,0.332,0,0,0.229730,10,0.228657,0.032059,1,1,0.508490,0
9997,0.718,0,1,0.243243,7,0.000000,0.032059,0,1,0.210390,1
9998,0.844,2,0,0.324324,3,0.299226,0.087144,1,0,0.464429,1
9999,0.884,0,1,0.135135,4,0.518708,0.032059,1,0,0.190914,0

In [16]:
get_unique_values(dfscaled)

CreditScore
[0.538 0.516 0.304 0.698 1.    0.59  0.944 0.052 0.302 0.668 0.356 0.294
 0.252 0.398 0.57  0.532 0.606 0.474 0.752 0.764 0.572 0.32  0.638 0.992
 0.454 0.812 0.442 0.448 0.122 0.482 0.366 0.406 0.34  0.744 0.25  0.28
 0.908 0.464 0.244 0.23  0.412 0.968 0.62  0.852 0.958 0.574 0.4   0.696
 0.47  0.876 0.61  0.502 0.612 0.75  0.322 0.528 0.784 0.674 0.41  0.506
 0.802 0.462 0.77  0.622 0.65  0.776 0.926 0.614 0.508 0.338 0.628 0.656
 0.814 0.132 0.63  0.854 0.386 0.312 0.286 0.604 0.8   0.758 0.592 0.594
 0.916 0.348 0.838 0.76  0.33  0.846 0.928 0.72  0.126 0.546 0.64  0.544
 0.87  0.51  0.258 0.67  0.376 0.424 0.742 0.556 0.636 0.956 0.648 0.55
 0.164 0.84  0.816 0.89  0.672 0.878 0.478 0.222 0.468 0.458 0.626 0.664
 0.886 0.682 0.27  0.6   0.808 0.37  0.732 0.378 0.712 0.472 0.562 0.734
 0.9   0.666 0.708 0.53  0.634 0.268 0.26  0.456 0.324 0.512 0.494 0.856
 0.328 0.35  0.73  0.46  0.914 0.342 0.818 0.332 0.722 0.536 0.586 0.642
 0.678 0.54  0.652 0.444 0.69  0.484 0.434 0.688 0.394 0.488 0.646 0.52
 0.834 0.826 0.724 0.706 0.624 0.618 0.346 0.844 0.39  0.568 0.778 0.842
 0.662 0.388 0.692 0.832 0.754 0.686 0.414 0.362 0.296 0.602 0.882 0.766
 0.922 0.714 0.728 0.864 0.85  0.898 0.504 0.788 0.476 0.794 0.466 0.554
 0.762 0.558 0.176 0.584 0.912 0.248 0.418 0.158 0.66  0.798 0.768 0.588
 0.552 0.598 0.91  0.736 0.98  0.56  0.608 0.824 0.436 0.526 0.344 0.774
 0.596 0.186 0.58  0.38  0.22  0.486 0.902 0.522 0.904 0.79  0.266 0.68
 0.284 0.718 0.71  0.42  0.804 0.702 0.374 0.274 0.492 0.704 0.272 0.748
 0.396 0.228 0.88  0.368 0.796 0.288 0.48  0.236 0.318 0.936 0.932 0.372
 0.806 0.848 0.542 0.438 0.616 0.896 0.582 0.384 0.684 0.578 0.83  0.44
 0.576 0.498 0.564 0.858 0.354 0.428 0.966 0.308 0.984 0.316 0.134 0.496
 0.782 0.514 0.822 0.996 0.392 0.178 0.81  0.82  0.352 0.726 0.7   0.632
 0.432 0.29  0.676 0.524 0.254 0.154 0.978 0.938 0.74  0.218 0.306 0.548
 0.358 0.426 0.264 0.892 0.19  0.792 0.872 0.408 0.644 0.874 0.298 0.988
 0.2   0.93  0.976 0.906 0.772 0.566 0.5   0.658 0.334 0.884 0.786 0.276
 0.142 0.982 0.716 0.314 0.31  0.212 0.17  0.422 0.336 0.43  0.756 0.868
 0.404 0.518 0.828 0.694 0.746 0.402 0.188 0.738 0.292 0.382 0.96  0.924
 0.654 0.14  0.49  0.534 0.918 0.3   0.952 0.168 0.326 0.256 0.894 0.026
 0.098 0.226 0.86  0.204 0.45  0.974 0.888 0.948 0.156 0.946 0.862 0.998
 0.278 0.162 0.214 0.836 0.962 0.018 0.94  0.446 0.452 0.416 0.934 0.198
 0.18  0.13  0.942 0.36  0.    0.192 0.15  0.78  0.262 0.866 0.016 0.99
 0.202 0.216 0.238 0.146 0.108 0.972 0.246 0.97  0.232 0.282 0.002 0.954
 0.986 0.03  0.364 0.128 0.206 0.242 0.102 0.92  0.964 0.24  0.194 0.144
 0.95  0.16  0.172 0.152 0.116 0.994 0.136 0.174 0.12  0.208 0.114 0.21
 0.224 0.072 0.11  0.066 0.09  0.234 0.166 0.184 0.148 0.196 0.182 0.034
 0.124 0.064 0.046 0.138]
CreditScore total unique values: 460

Geography
['0' '1' '2']
Geography total unique values: 3

Gender
['1' '0']
Gender total unique values: 2

Age
[0.32432432 0.31081081 0.28378378 0.33783784 0.35135135 0.43243243
 0.14864865 0.12162162 0.17567568 0.08108108 0.21621622 0.09459459
 0.22972973 0.36486486 0.54054054 0.18918919 0.27027027 0.37837838
 0.24324324 0.2027027  0.2972973  0.44594595 0.58108108 0.41891892
 0.25675676 0.01351351 0.64864865 0.51351351 0.10810811 0.04054054
 0.5        0.77027027 0.05405405 0.16216216 0.13513514 0.63513514
 0.40540541 0.45945946 0.52702703 0.74324324 0.39189189 0.48648649
 0.72972973 0.02702703 0.66216216 0.82432432 0.59459459 0.47297297
 0.83783784 0.55405405 0.67567568 0.06756757 0.56756757 0.7027027
 0.60810811 0.62162162 0.         0.86486486 0.68918919 0.75675676
 0.71621622 0.78378378 0.7972973  0.94594595 0.90540541 0.89189189
 0.81081081 0.85135135 1.         0.87837838]
Age total unique values: 70

Tenure
[ 2  1  8  7  4  6  3 10  5  9  0]
Tenure total unique values: 11

Balance
[0.         0.33403148 0.63635718 ... 0.22865702 0.29922631 0.51870777]
Balance total unique values: 6382

NumOfProducts
[0.0320586  0.23688282 0.08714432 0.64391426]
NumOfProducts total unique values: 4

HasCrCard
[1 0]
HasCrCard total unique values: 2

IsActiveMember
[1 0]
IsActiveMember total unique values: 2

EstimatedSalary
[0.50673489 0.56270874 0.56965435 ... 0.21039009 0.46442905 0.19091423]
EstimatedSalary total unique values: 9999

Exited
[1 0]
Exited total unique values: 2

## checking data type of all the attributes

In [17]:
result = dfscaled.dtypes
print(result)

CreditScore        float64
Geography           object
Gender              object
Age                float64
Tenure               int64
Balance            float64
NumOfProducts      float64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

## changing objects to int64

In [18]:
import numpy as np
dfscaled['Geography'] = dfscaled['Geography'].astype(str).astype(np.int64)
dfscaled['Gender'] = dfscaled['Gender'].astype(str).astype(np.int64)

In [19]:
result = dfscaled.dtypes
print(result)

CreditScore        float64
Geography            int64
Gender               int64
Age                float64
Tenure               int64
Balance            float64
NumOfProducts      float64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [20]:
X = dfscaled.drop('Exited', axis = 1)
Y = dfscaled['Exited']

In [21]:
X = np.asarray(X)
Y = np.asarray(Y)

print(X)
print(Y)

[[0.538      0.         1.         ... 1.         1.         0.50673489]
 [0.516      1.         1.         ... 0.         1.         0.56270874]
 [0.304      0.         1.         ... 1.         0.         0.56965435]
 ...
 [0.718      0.         1.         ... 0.         1.         0.21039009]
 [0.844      2.         0.         ... 1.         0.         0.46442905]
 [0.884      0.         1.         ... 1.         0.         0.19091423]]
[1 0 1 ... 1 1 0]

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=42)
print(type(X_train))
print(type(Y_train))
print(type(X_test))
print(type(Y_test))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [23]:
print(len(X_train))
print(len(X_train[0]))
print(len(Y_train))
print(Y_train)

print('-------------------------\n')

print(len(X_test))
print(len(X_test[0]))
print(len(Y_test))
print(Y_test)

6700
10
6700
[1 0 1 ... 1 1 0]
-------------------------

3300
10
3300
[0 0 0 ... 0 0 1]

In [24]:
import keras
def model(x_train, x_test, y_train, y_test):
    mod = keras.Sequential([
        keras.layers.Dense(1500, input_dim = len(x_train[0]), activation = 'relu'),
        keras.layers.Dense(700, activation = 'relu'),
        keras.layers.Dense(1, activation = 'sigmoid'),
    ])
    
    mod.compile(
        optimizer='adam',
        loss='binary_crossentropy',
        metrics = ['accuracy']
    )
    
    mod.fit(x_train, y_train, epochs=110)
    
    print(f'\n test accuracy -> {mod.evaluate(x_test, y_test)}')

    y_pred = mod.predict(x_test)
    y_pred = np.round(y_pred)
    
    return y_pred

In [25]:
y_pred = model(X_train, X_test, Y_train, Y_test)

Epoch 1/110
210/210 [==============================] - 3s 12ms/step - loss: 0.4812 - accuracy: 0.7916
Epoch 2/110
210/210 [==============================] - 2s 11ms/step - loss: 0.4501 - accuracy: 0.8069
Epoch 3/110
210/210 [==============================] - 2s 12ms/step - loss: 0.4302 - accuracy: 0.8210
Epoch 4/110
210/210 [==============================] - 2s 11ms/step - loss: 0.4240 - accuracy: 0.8212
Epoch 5/110
210/210 [==============================] - 2s 11ms/step - loss: 0.4185 - accuracy: 0.8240
Epoch 6/110
210/210 [==============================] - 3s 13ms/step - loss: 0.4130 - accuracy: 0.8290
Epoch 7/110
210/210 [==============================] - 3s 13ms/step - loss: 0.4026 - accuracy: 0.8339
Epoch 8/110
210/210 [==============================] - 3s 12ms/step - loss: 0.3995 - accuracy: 0.8357
Epoch 9/110
210/210 [==============================] - 3s 13ms/step - loss: 0.3942 - accuracy: 0.8390
Epoch 10/110
210/210 [==============================] - 2s 12ms/step - loss: 0.3908 - accuracy: 0.8369
Epoch 11/110
210/210 [==============================] - 2s 11ms/step - loss: 0.3797 - accuracy: 0.8440
Epoch 12/110
210/210 [==============================] - 2s 11ms/step - loss: 0.3667 - accuracy: 0.8513
Epoch 13/110
210/210 [==============================] - 2s 11ms/step - loss: 0.3676 - accuracy: 0.8518
Epoch 14/110
210/210 [==============================] - 2s 11ms/step - loss: 0.3602 - accuracy: 0.8510
Epoch 15/110
210/210 [==============================] - 2s 12ms/step - loss: 0.3571 - accuracy: 0.8566
Epoch 16/110
210/210 [==============================] - 3s 12ms/step - loss: 0.3533 - accuracy: 0.8555
Epoch 17/110
210/210 [==============================] - 2s 12ms/step - loss: 0.3478 - accuracy: 0.8548
Epoch 18/110
210/210 [==============================] - 2s 11ms/step - loss: 0.3476 - accuracy: 0.8570
Epoch 19/110
210/210 [==============================] - 3s 16ms/step - loss: 0.3487 - accuracy: 0.8578 0s - loss: 0.3
Epoch 20/110
210/210 [==============================] - 3s 14ms/step - loss: 0.3410 - accuracy: 0.8591 2s - loss:
Epoch 21/110
210/210 [==============================] - 2s 11ms/step - loss: 0.3370 - accuracy: 0.8610
Epoch 22/110
210/210 [==============================] - 3s 12ms/step - loss: 0.3324 - accuracy: 0.8631
Epoch 23/110
210/210 [==============================] - 2s 11ms/step - loss: 0.3298 - accuracy: 0.8652
Epoch 24/110
210/210 [==============================] - 3s 12ms/step - loss: 0.3308 - accuracy: 0.8625
Epoch 25/110
210/210 [==============================] - 3s 13ms/step - loss: 0.3251 - accuracy: 0.8618
Epoch 26/110
210/210 [==============================] - 3s 12ms/step - loss: 0.3300 - accuracy: 0.8637
Epoch 27/110
210/210 [==============================] - 3s 14ms/step - loss: 0.3266 - accuracy: 0.8631
Epoch 28/110
210/210 [==============================] - 3s 13ms/step - loss: 0.3238 - accuracy: 0.8639 0s - loss: 0.3225 - accuracy:
Epoch 29/110
210/210 [==============================] - 2s 11ms/step - loss: 0.3167 - accuracy: 0.8660
Epoch 30/110
210/210 [==============================] - 2s 12ms/step - loss: 0.3149 - accuracy: 0.8685
Epoch 31/110
210/210 [==============================] - 3s 16ms/step - loss: 0.3161 - accuracy: 0.8678
Epoch 32/110
210/210 [==============================] - 3s 13ms/step - loss: 0.3098 - accuracy: 0.8721
Epoch 33/110
210/210 [==============================] - 3s 14ms/step - loss: 0.3140 - accuracy: 0.8667
Epoch 34/110
210/210 [==============================] - 3s 15ms/step - loss: 0.3056 - accuracy: 0.8716 0s - loss: 0.3054 - accuracy:  - ETA: 0s - loss: 0.3060 - accuracy: 0.87
Epoch 35/110
210/210 [==============================] - 3s 15ms/step - loss: 0.3035 - accuracy: 0.8739
Epoch 36/110
210/210 [==============================] - 3s 13ms/step - loss: 0.3012 - accuracy: 0.8722
Epoch 37/110
210/210 [==============================] - 3s 12ms/step - loss: 0.3027 - accuracy: 0.8721
Epoch 38/110
210/210 [==============================] - 2s 12ms/step - loss: 0.2998 - accuracy: 0.8719
Epoch 39/110
210/210 [==============================] - 2s 12ms/step - loss: 0.2935 - accuracy: 0.8754
Epoch 40/110
210/210 [==============================] - 2s 12ms/step - loss: 0.2916 - accuracy: 0.8791
Epoch 41/110
210/210 [==============================] - 3s 12ms/step - loss: 0.2916 - accuracy: 0.8755
Epoch 42/110
210/210 [==============================] - 3s 12ms/step - loss: 0.2924 - accuracy: 0.8761
Epoch 43/110
210/210 [==============================] - 3s 12ms/step - loss: 0.2870 - accuracy: 0.8773
Epoch 44/110
210/210 [==============================] - 3s 12ms/step - loss: 0.2809 - accuracy: 0.8793
Epoch 45/110
210/210 [==============================] - 3s 12ms/step - loss: 0.2848 - accuracy: 0.8772
Epoch 46/110
210/210 [==============================] - 3s 13ms/step - loss: 0.2798 - accuracy: 0.8830
Epoch 47/110
210/210 [==============================] - 3s 12ms/step - loss: 0.2742 - accuracy: 0.8833
Epoch 48/110
210/210 [==============================] - 3s 13ms/step - loss: 0.2716 - accuracy: 0.8848
Epoch 49/110
210/210 [==============================] - 3s 13ms/step - loss: 0.2733 - accuracy: 0.8845
Epoch 50/110
210/210 [==============================] - 3s 12ms/step - loss: 0.2655 - accuracy: 0.8851
Epoch 51/110
210/210 [==============================] - 3s 12ms/step - loss: 0.2638 - accuracy: 0.8858
Epoch 52/110
210/210 [==============================] - 3s 16ms/step - loss: 0.2639 - accuracy: 0.8875
Epoch 53/110
210/210 [==============================] - 3s 14ms/step - loss: 0.2586 - accuracy: 0.8907
Epoch 54/110
210/210 [==============================] - 3s 13ms/step - loss: 0.2579 - accuracy: 0.8894
Epoch 55/110
210/210 [==============================] - 3s 14ms/step - loss: 0.2537 - accuracy: 0.8896
Epoch 56/110
210/210 [==============================] - 2s 12ms/step - loss: 0.2514 - accuracy: 0.8910
Epoch 57/110
210/210 [==============================] - 3s 13ms/step - loss: 0.2516 - accuracy: 0.8907
Epoch 58/110
210/210 [==============================] - 3s 16ms/step - loss: 0.2452 - accuracy: 0.8940
Epoch 59/110
210/210 [==============================] - 3s 14ms/step - loss: 0.2452 - accuracy: 0.8969
Epoch 60/110
210/210 [==============================] - 3s 12ms/step - loss: 0.2395 - accuracy: 0.8970
Epoch 61/110
210/210 [==============================] - 3s 12ms/step - loss: 0.2356 - accuracy: 0.8975
Epoch 62/110
210/210 [==============================] - 2s 12ms/step - loss: 0.2376 - accuracy: 0.8994
Epoch 63/110
210/210 [==============================] - 3s 12ms/step - loss: 0.2306 - accuracy: 0.9000
Epoch 64/110
210/210 [==============================] - 2s 11ms/step - loss: 0.2284 - accuracy: 0.9037
Epoch 65/110
210/210 [==============================] - 2s 10ms/step - loss: 0.2350 - accuracy: 0.9016
Epoch 66/110
210/210 [==============================] - 2s 10ms/step - loss: 0.2260 - accuracy: 0.9040
Epoch 67/110
210/210 [==============================] - 2s 10ms/step - loss: 0.2178 - accuracy: 0.9063
Epoch 68/110
210/210 [==============================] - 2s 10ms/step - loss: 0.2147 - accuracy: 0.9070
Epoch 69/110
210/210 [==============================] - 3s 13ms/step - loss: 0.2163 - accuracy: 0.9052 0s - loss: 0.2165 - accuracy: 0.90
Epoch 70/110
210/210 [==============================] - 3s 13ms/step - loss: 0.2097 - accuracy: 0.9087
Epoch 71/110
210/210 [==============================] - 3s 13ms/step - loss: 0.2098 - accuracy: 0.9103
Epoch 72/110
210/210 [==============================] - 2s 10ms/step - loss: 0.2131 - accuracy: 0.9115
Epoch 73/110
210/210 [==============================] - 2s 11ms/step - loss: 0.2019 - accuracy: 0.9143
Epoch 74/110
210/210 [==============================] - 3s 14ms/step - loss: 0.1986 - accuracy: 0.9136
Epoch 75/110
210/210 [==============================] - 3s 12ms/step - loss: 0.2006 - accuracy: 0.9128
Epoch 76/110
210/210 [==============================] - 2s 11ms/step - loss: 0.1983 - accuracy: 0.9152
Epoch 77/110
210/210 [==============================] - 2s 11ms/step - loss: 0.1898 - accuracy: 0.9173
Epoch 78/110
210/210 [==============================] - 3s 13ms/step - loss: 0.1919 - accuracy: 0.9172
Epoch 79/110

210/210 [==============================] - 3s 12ms/step - loss: 0.1863 - accuracy: 0.9216
Epoch 80/110
210/210 [==============================] - 3s 13ms/step - loss: 0.1834 - accuracy: 0.9196
Epoch 81/110
210/210 [==============================] - 3s 15ms/step - loss: 0.1855 - accuracy: 0.9199
Epoch 82/110
210/210 [==============================] - 3s 13ms/step - loss: 0.1822 - accuracy: 0.9237
Epoch 83/110
210/210 [==============================] - 2s 11ms/step - loss: 0.1794 - accuracy: 0.9236
Epoch 84/110
210/210 [==============================] - 3s 12ms/step - loss: 0.1742 - accuracy: 0.9249
Epoch 85/110
210/210 [==============================] - 3s 14ms/step - loss: 0.1717 - accuracy: 0.9258
Epoch 86/110
210/210 [==============================] - 2s 10ms/step - loss: 0.1727 - accuracy: 0.9281
Epoch 87/110
210/210 [==============================] - 2s 10ms/step - loss: 0.1720 - accuracy: 0.9245
Epoch 88/110
210/210 [==============================] - 2s 10ms/step - loss: 0.1646 - accuracy: 0.9297
Epoch 89/110
210/210 [==============================] - 2s 10ms/step - loss: 0.1707 - accuracy: 0.9255
Epoch 90/110
210/210 [==============================] - 2s 11ms/step - loss: 0.1632 - accuracy: 0.9313
Epoch 91/110
210/210 [==============================] - 2s 11ms/step - loss: 0.1689 - accuracy: 0.9261
Epoch 92/110
210/210 [==============================] - 2s 12ms/step - loss: 0.1589 - accuracy: 0.9300 0s - loss: 0.1575 -
Epoch 93/110
210/210 [==============================] - 3s 14ms/step - loss: 0.1566 - accuracy: 0.9340 0s - loss: 0.1543
Epoch 94/110
210/210 [==============================] - 3s 14ms/step - loss: 0.1459 - accuracy: 0.9367
Epoch 95/110
210/210 [==============================] - 2s 12ms/step - loss: 0.1505 - accuracy: 0.9370
Epoch 96/110
210/210 [==============================] - 3s 12ms/step - loss: 0.1518 - accuracy: 0.9370
Epoch 97/110
210/210 [==============================] - 3s 13ms/step - loss: 0.1494 - accuracy: 0.9373
Epoch 98/110
210/210 [==============================] - 2s 12ms/step - loss: 0.1421 - accuracy: 0.9428
Epoch 99/110
210/210 [==============================] - 3s 14ms/step - loss: 0.1388 - accuracy: 0.9421 0s - loss: 0.138
Epoch 100/110
210/210 [==============================] - 3s 13ms/step - loss: 0.1390 - accuracy: 0.9409
Epoch 101/110
210/210 [==============================] - 3s 12ms/step - loss: 0.1364 - accuracy: 0.9415
Epoch 102/110
210/210 [==============================] - 2s 11ms/step - loss: 0.1374 - accuracy: 0.9413
Epoch 103/110
210/210 [==============================] - 3s 12ms/step - loss: 0.1428 - accuracy: 0.9381
Epoch 104/110
210/210 [==============================] - 3s 14ms/step - loss: 0.1330 - accuracy: 0.9433
Epoch 105/110
210/210 [==============================] - 3s 12ms/step - loss: 0.1311 - accuracy: 0.9445
Epoch 106/110
210/210 [==============================] - 2s 12ms/step - loss: 0.1252 - accuracy: 0.9476
Epoch 107/110
210/210 [==============================] - 3s 12ms/step - loss: 0.1280 - accuracy: 0.9445
Epoch 108/110
210/210 [==============================] - 3s 12ms/step - loss: 0.1307 - accuracy: 0.9455
Epoch 109/110
210/210 [==============================] - 2s 12ms/step - loss: 0.1287 - accuracy: 0.9440
Epoch 110/110
210/210 [==============================] - 2s 11ms/step - loss: 0.1299 - accuracy: 0.9470
104/104 [==============================] - 1s 4ms/step - loss: 0.7400 - accuracy: 0.8233

 test accuracy -> [0.7399961352348328, 0.8233333230018616]

In [26]:
print(y_pred)

[[0.]
 [0.]
 [0.]
 ...
 [0.]
 [0.]
 [1.]]

## classification report

In [27]:
#Evaluating the prediction
from sklearn.metrics import confusion_matrix , classification_report

print(classification_report(Y_test,y_pred))

              precision    recall  f1-score   support

           0       0.88      0.90      0.89      2657
           1       0.55      0.51      0.53       643

    accuracy                           0.82      3300
   macro avg       0.72      0.71      0.71      3300
weighted avg       0.82      0.82      0.82      3300